<div class="contact">
  <ul class="contact__list list-reset">
    {% if site.data.settings.facebook %}
      <li><a href="https://www.polyu.edu.hk/beee/people/academic-staff/jiang-liming/?sc_lang=en">PolyU</a></li>
    {% else %} {% endif %}
      
    {% if site.data.settings.twitter %}
      <li><a href="https://www.researchgate.net/profile/Liming-Jiang-2">ResearchGate</a></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.dribbble %}
      <li><a href="https://scholar.google.com/citations?user=DIOd4T4AAAAJ&hl=en">Google</a></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.instagram %}
      <li><a href="https://www.linkedin.com/in/limingjiang/">Linkedin</a></li>
    {% else %} {% endif %}
	
	 {% if site.data.settings.pinterest %}
      <li><a href="https://www.instagram.com/lmjiangphotoshop/">Instagram</a></li>
    {% else %} {% endif %}
  
  </ul>
</div>